body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
    color: #fff;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hide {
    display: none;
}
.form-input {
    background-color: #222;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.form-button {
    background-color: #1E88E5;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-button:hover {
    background-color: #1565C0;
}
.result {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}
button {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1a1a1a;
}

input[type="number"] {
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

svg{
    fill:currentColor;
    height:15px;
    width:15px;
    margin-right:5px;
}